@charset "utf-8";
/* CSS Document */

.podp{
	overflow:hidden;
	position: relative;
	color:#FFFFFF;
	max-width:1440px;
	width:100%;
	background: url(../images/podp_back.jpg);
	padding:5px 0 0 0;
	box-shadow: 0 -6px 12px -3px rgba(0,0,0,1.00), 0 6px 12px -3px rgba(0,0,0,1.00);
}
	.podp h2{
		text-align:center;
		font-size:30px;
		font-weight:bold;s
		margin-bottom:10px;
	}
	.cr p{
		text-align:center;
		margin-top:20px;
		background:rgba(0,0,0,0.80)
	}
	.form{
		text-align: center;
	}
		#messegeResult{
			margin-bottom:5px;
		}
		#name{
			border:1px solid #000000;
			padding:10px;
			box-sizing:border-box;
			width:30%;
			margin-bottom:5px;
		}
		#email{
			border:1px solid #000000;
			padding:10px;
			box-sizing:border-box;
			width:30%;
			margin-bottom:5px;
		}
		#button{
			padding:10px;
			color:#FFFFFF;
			box-sizing:border-box;
			width:30%;
			background:#000000;
			border:1px solid #FFFFFF;
			border-radius: 10px;
			margin-bottom:10px;
			cursor:pointer;
		}